@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #60a5fa;
  color: #fefefe;
}

.container {
  @apply max-w-screen-md;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
